{% extends 'base.html.twig' %}

{% block body %}
<h2 class="text-center text-info mt-4">Ceci est un site étudiant, Stripe n'est pas intégré et vous ne pouvez pas payer</h2>


<img src="{{ asset('imgs/pagepaiement.png') }}" alt="page paiement" class="text-center align-middle">


{% endblock %}